@charset "UTF-8";
span{
	padding-left: 5px;
}

p{
	margin: 10px 0px;
}
.head {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 90px;
}	
.head p:first-child{
	font-size: 50px;
	font-weight: bold;
}

input{
	border-width: 1px;
	margin: 0px 5px 5px 5px;		
}

select{
	width: 50px;
	height: 25px;
	margin: 0px 5px 5px 5px;
	display: block;
	float: left;
}

/*필수정보사항*/
.vital_info {
	margin:50px auto;
	width:650px;
	height: 220px;
	border: 1px solid #cccccc;
	border-top: 0px; 		
}	
.vital_info .header{
	width: 100%;
	border: 1px solid #cccccc;
	margin-bottom: 40px;
}
	
.vital_info .header span{
	height:50px;
	display: inline-block;
	line-height: 50px;		
}

.vital_info .header span:first-child{
	width : 108px;
	margin-left: 346px;
	font-weight: bold;		
}	
.vital_info .header span:last-child{
	font-size : 14px;
	margin-right : 5px;
	color : red;
	float: right;		
}



/*입력 타이틀,입력 란*/
.infos{
	margin-top: 10px;
	margin-left: 30px;
	height: 60px;
	width: 770px;		
}	
.infos_sub{
	min-width: 160px;		
	margin-left: 15px;
	float: left;
}	
.infos_input{
	width: 250px;
	height: 25px;
	background: #d9d9d9;;
	padding-left: 5px;
	
}	
.infos_button{
	width: 100px;
	height :30px;
	line-height : 28px;
	background-color: #10488D;
	color: #f2f2f2;		
}
.infos_detail{
	float: left;
	margin-right: 10px;
}
#birthdaypicker{
	width: 250px;
	height: 25px;
	background: #f2f2f2;
}

/*배송 정보 사항*/
.vital_info_deliver {
	margin:50px auto;
	width:650px;
	height: 210px;
	border: 1px solid #cccccc;
	border-top: 0px; 		
}	
.vital_info_deliver .header{
	width: 100%;
	border: 1px solid #cccccc;
	border-left: 0px;
	border-right: 0px;
	margin-bottom: 40px;
}
.vital_info_deliver .header span{
	height:50px;
	display: inline-block;
	line-height: 50px;		
}

.vital_info_deliver .header span:first-child{
	width : 108px;
	margin-left: 346px;
	font-weight: bold;		
}	
.vital_info_deliver .header span:last-child{
	font-size : 14px;
	margin-right : 5px;
	color : red;
	float: right;		
}


/*선택 정보 사항*/
.choice_info {
	margin:0px auto;
	width:650px;
	height: 350px;
	border-top: 0px; 		
}	
.choice_info .header{
	width: 100%;
	border: 1px solid #cccccc;
}
.choice_info .header span{
	height:50px;
	display: inline-block;
	line-height: 50px;		
}

.choice_info .header span:first-child{
	width : 108px;
	margin-left: 346px;
	font-weight: bold;		
}	
.choice_info .header span:last-child{
	font-size : 14px;
	margin-right : 5px;
	color : #10488D;
	float: right;		
}

.choice_info > #option{
	width: 100%;
	padding-top: 40px;
	border: 1px solid #cccccc;
	border-top: 0px;
}

.infos_interest{
	width: 100px;
	height: 20px;
	float: left;
	line-height: 20px;
}
.infos_interest input{
	margin-right: 0px;
}

.infos_interest span{
	font-size : 15px;
	padding: 0px;
}

.infos_detail_interest{
    width: 450px;
   	height: 20px;
   	float: left;
   	margin-bottom: 10px;
}

.buttons{
	width: 650px;
	height: 75px;
	margin: 50px auto;
	text-align: center;
}	
.button{
	display: inline-block;				
}	
.button input{
	width: 350px;
	height: 70px;
	font-size: 20px;
	font-weight : bold;
	color : white;
	
	background-color: #10488D;
	
}