<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper: 도서 -->
<mapper namespace="dao.AdminCouponMapper">
	<insert id="couponAutoCreateInsert" parameterType="com.java.admin.dto.AdminCouponDto">
		<![CDATA[
			insert into adminCoupon
				values(#{admin_couponNumber},
						#{admin_couponName},
						#{admin_couponeUseday},
						#{admin_content},
						#{admin_sale})
 	 	]]> 
	</insert>
	
	<select id="CouponList" resultType="com.java.admin.dto.AdminCouponDto" parameterType="String">
		<![CDATA[
			select a.*,b.member_id, b.member_couponnumber
			from admincoupon a, membercoupon b
			where a.admin_couponNumber = b.admin_couponNumber and member_id = #{member_id}
 	 	]]>
	</select>
</mapper>