<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper: 도서 -->
<mapper namespace="dao.AdminUserOrderMapper">

	<!-- 전체조회 카운트-->
	<select id="OrderCount" resultType="int">
		<![CDATA[select count(*) from userorder]]>
	</select>

	<!-- 전체조회 목록 / 페이징-->
	<select id="OrderList" resultType="com.java.order.dto.UserOrderDto" parameterType="java.util.HashMap">
		<![CDATA[
	 	 		select * from 
		 			(select rownum rnum, a.* from 
	 	 				(select * from userorder order by order_bunho desc)a) 
	 	 		where rnum>=#{startRow} and rnum <=#{endRow}
 	 	]]> 
	</select>
	
		<!-- 상담문의글 상세조회수-->
	<select id="OrderSearchCount" resultType="int" parameterType="java.util.HashMap">
		select count(*)
		from userorder
		<if test='searchType=="order_bunho"'>
			where order_bunho like '%'||#{keyword}||'%'
        </if>
		<if test="searchType == 'member_id'">
            where member_id like '%'||#{keyword}||'%'
        </if>
		<if test="searchType == 'book_isbn'">
            where book_isbn like '%'||#{keyword}||'%'
        </if>
		<if test="searchType == 'order_book_state'">
            where order_book_state like '%'||#{keyword}||'%'
        </if>
	</select>
	
		<!-- 상세조회 -->
	<select id="OrderSearchList" resultType="com.java.order.dto.UserOrderDto" parameterType="java.util.HashMap">
		<if test='searchType=="order_bunho"'>
			<![CDATA[select c.* from(select rownum brnum, b.* from (select rownum arnum, a.* from
			(select * from userorder order by order_bunho asc) a) b
			where order_bunho like '%'||#{keyword}||'%')c
			where c.brnum >= #{startRow} and c.brnum <= #{endRow}]]> 
		</if>
		
		<if test='searchType=="member_id"'>
			<![CDATA[select c.* from(select rownum brnum, b.* from (select rownum arnum, a.* from
			(select * from userorder order by order_bunho asc) a) b
			where member_id like '%'||#{keyword}||'%')c
			where c.brnum >= #{startRow} and c.brnum <= #{endRow}]]> 
		</if>
		
		<if test='searchType=="book_isbn"'>
			<![CDATA[select c.* from(select rownum brnum, b.* from (select rownum arnum, a.* from
			(select * from userorder order by order_bunho asc) a) b
			where book_isbn like '%'||#{keyword}||'%')c
			where c.brnum >= #{startRow} and c.brnum <= #{endRow}]]> 
		</if>
		
		<if test='searchType=="order_book_state"'>
			<![CDATA[select c.* from(select rownum brnum, b.* from (select rownum arnum, a.* from
			(select * from userorder order by order_bunho asc) a) b
			where order_book_state like '%'||#{keyword}||'%')c
			where c.brnum >= #{startRow} and c.brnum <= #{endRow}]]> 
		</if>
		
		<if test='searchType==""'>
			<![CDATA[select c.* from(select rownum brnum, b.* from (select rownum arnum, a.* from
			(select * from userorder order by order_bunho asc) a) b
			where order_book_state like '%'||#{keyword}||'%')c
			where c.brnum >= #{startRow} and c.brnum <= #{endRow}]]> 
		</if>
	</select>
</mapper>