@charset "UTF-8";

.ttitle {
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: thick double black;
	margin-bottom: 15px;
}

.question {
	width: 680px;
	margin: 100px 10px 0px 250px;
}

.consult{
	margin-top: 30px;
	border: 0px solid black;
	width: 680px;
	height: 200px;
}

.list a:hover{
	color: red;
	text-decoration: underline;
}

.thead, .thead td{
	border: 1px solid black;
	border-collapse: collapse;
}

.table{
	width: 680px;
	height: 100px;
	margin-top: 10px;
	border: 0px solid black;
}

.table div{
	float: left;
	margin: 0px auto;
	text-align: center;
	line-height: 20px;
	width: 130px;
	height: 20px;
	border: 1px solid black;
}
