@charset "UTF-8";
	span{
		padding-left: 5px;
	}

	.wrap{
		width: 800px;
		margin:0px auto;
	}
	.content{
/* 		border: 1px solid #cccccc; */
	    width: 750px;
	    float: left;
	    margin: 110px 0px 100px 30px;
	}
	.info{
		width: 700px;
		height: 250px;
		border: 1px solid black;
		margin-bottom: 100px;
	}
	.info_detail{
		height : 35px;
		line-height : 35px;
		border-bottom: 1px solid black;
	}
	
	.subject{
		margin: 0px 5px 0px 20px;
	}
	
	.info_input{
		height: 28px;
    	font-size: 15px;
	}