@charset "UTF-8";

li{
	list-style: none;
}

a{
	text-decoration: none;
}

section{
	margin-top: 147px;
    padding-top: 50px;
    border-top: 1px solid #e5e5e5;;
    background-color: #ffffff;
}

.inner{
	width: 1140px;
	overflow: hidden;
    margin: 0px auto;
    position: relative;
    border: 0px solid green;
}

.inner > .top2 {
	 border: 0px solid green;
}

.inner > .top2 > h2{
	font-family: 'Noto Sans KR', sans-serif, malgun gothic;
    font-size: 22px;
    font-weight: 700;
    color: #111111;
    letter-spacing: 1px;
    margin-top: -8px;
    margin-bottom: 30px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e5e5e5;
}

.inner > .login{
	margin: 70px 170px 0px;
    padding-bottom: 35px;
    border: 0px solid green;
}

.inner > .login > ul{
	 border: 0px solid green;
	   margin: 0px;
    padding:0px;
	 overflow: hidden;
}

.inner > .login > ul > li{
	float: left;
    width: 50%;
}

.inner > .login > ul > li > a{
	display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 74px;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.inner > .login > ul > li:nth-child(1) > a{
	color: #111111;
    border-color: #111111;
}

.inner > .login > .left{
	float: left;
    width: 50%;
    margin-top: 40px;
    border: 0px solid pink;
}

.inner > .login > .left > div > form{
	margin-top: 0px;
}

.left_inner{
	position: relative;
    margin-right: 60px;
    border: 0px solid yellow;
}

.left .left_inner > .id{
	padding: 7px 10px;
    border: 1px solid #cccccc;
    margin-right: 88px;
    
}

.left_inner > div > input{
    padding: 0px;
    border: 0px;
    font-size: 12px;
    width: 100%;
    height: 20px;
    vertical-align: top;
}

.left .left_inner > .pwd{
	padding: 7px 10px;
    border: 1px solid #cccccc;
    margin-right: 88px;
    margin-top: 8px;
}
.left .left_inner > .idsave{
	width: 150px;
	height: 20px;
	float: left;
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
    border: 0px solid red;
}
.left .left_inner > .idsave > span{
    display: inline-block;
    position: relative;
}

input[type=checkbox]{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    opacity: 0%;
}

.left .left_inner > .idsave > span > label{
	padding-left: 30px;
}

.left .left_inner > .check{
	position: absolute;
    right: 0px;
    top: 0px;
    border: 0px solid black;
}

.left .left_inner > .check > button{
	color: #ffffff;
    background-color: #10448d;
    width: 80px;
    height: 80px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    outline: 0;
}

.left .left_inner > .find{
	height: 20px;
    text-align: right;
    padding-top: 13px;
    line-height: 20px;
    border: 0px solid blue;
}
.left .left_inner > .find > span {
	display: block;
	float: right;
}

.left .left_inner > .find > span > a{
    font-size: 11px;
    color: #666;
    text-decoration: underline;
}

.left .form_bottom{
	margin: 30px 60px 0 0;
    padding: 30px 0 0 140px;
    border-top: 1px solid #e5e5e5;
    position: relative;
    text-align: right;
}

.left .form_bottom > span:nth-child(1){
    position: absolute;
    left: 0;
    top: 30px;
    font-size: 13px;
    color: #666;
    line-height: 28px;
}

.inner > .login > .right{
	float: left;
    width: 50%;
    margin-top: 40px;
    margin-left: -1px;
    border-left: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.inner > .login > .right > div{
	margin-left: 60px;
}

.inner > .login > .right .hana{
	font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.1;
    padding-top: 5px;
    color: #111111;
}

.inner > .login > .right .dul{
    margin-top: 20px;
    color: #666;
    line-height: 20px;
}

.inner > .login > .right .dul > label{
	font-size: 12px;
}

.inner > .login > .right .set > a{
	display: inline-block;
    margin-top: 25px;
    border-bottom: 1px solid #111;
    padding-bottom: 3px;
    font-size: 15px;
    text-decoration: none;
    color: #111111;
}

.bimemberlogin{
	position: relative;
    margin-right: 60px;
    border: 0px solid yellow;
}

.bimemberlogin >.id >input{
	padding: 0px;
    border: 0px;
    font-size: 12px;
    width: 100%;
    height: 20px;
    vertical-align: top;
}  

.bimemberlogin > div > input{
    padding: 0px;
    border: 0px;
    font-size: 12px;
    width: 100%;
    height: 20px;
    vertical-align: top;
}  

.check{
	position: absolute;
    right: 0px;
    top: 0px;
    border: 0px solid black;
}
    
.check button{
	color: #ffffff;
    background-color: #10448d;
    width: 80px;
    height: 80px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    outline: 0;
}

.bimemberlogin .id{
	padding: 7px 10px;
    border: 1px solid #cccccc;
    margin-right: 88px;
    
}

.bimemberlogin .pwd{
	padding: 7px 10px;
    border: 1px solid #cccccc;
    margin-right: 88px;
    margin-top: 8px;
}
    